#{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  background-color: #C73B0B;
  height: 4rem;
  box-shadow: 3px 3px 10px grey ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
  font-size: 1rem;
}
.navbar__lista {
  display: flex;
  list-style: none;
}
.navbar__lista__cat {
  padding: 0 1rem 0 1rem;
  text-decoration: none;
  font-weight: 400;
  color: white;
}
.navbar__lista__cat:hover {
  font-weight: 700;
  color: rgb(245, 232, 209);
}
.navbar__boton {
  width: 5rem;
  height: 2rem;
  text-align: center;
  font-weight: 500;
  box-shadow: 1px 1px 8px grey;
  border: none;
  border-radius: 3px;
}